<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImagePath" value="C:\STE1.2\VmImagePath\"/>
    <add key="ImageCreationPath" value="C:\STE1.2\CreatedVMs"/>
    <add key="VMCommandBroker" value="vmware.ps1"/>
    <add key ="VMCommandBrokerWorkingDirectory" value="C:\STE1.2\Scripts"/>
  </appSettings>
</configuration>